.Demo__Title {
  text-align: center;
}

.Demo__Sections {
  flex: 1 1 0;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}

.Demo__Button {
  position: absolute;
  top: calc(50% + 45px);
  transform: translateY(-50%);
  font-size: 100px;
  cursor: pointer;
  opacity: 0.2;
  color: #444;

  &:hover {
    opacity: 0.4;
    color: #444;
  }
}

.Demo__Button_Next {
  right: 0;
  padding: 50px 50px 50px 0;
}

.Demo__Button_Prev {

  padding: 50px 0 50px 50px;
}
