body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #444;
}

code {
  font-family: 'Roboto Mono', monospace;
  background-color: rgba(0,0,0,0.05);
  padding: 0.2em 0.4em;
  margin: 0.1em 0;
  display: inline-block;
  border-radius: 0.5em;
  color: #000000;
  line-height: 1.4;
}

pre {
  margin: 0.2em 0;
}

a {
  color: #a3ed00;
  text-decoration: none;
}

a:hover {
  color: #699900
}
